@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This project is for individual or organization to manage asset allowcation in different categories.</p>
    <p>We often face the challenge of monitoring our investment portfolio because it's so diverse and there's no centralized place to view it. 
    This web tool servers as your asset manager to help you closely monitor your asset performace and allocation. </p>
    <a href="~/Dashboard" class="btn btn-primary btn-lg">Get Started »</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Features</h2>
        <ul>
            <li>View total asset summary</li>
        </ul>    
    </div>
    <div class="col-md-4">
        <h2>Under development</h2>
        <ul>
            <li>Most of the features</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Service Connection</h2>
        <p>Trading Algorithem</p>
        <p>Automated strategy running on other website</p>

    </div>
</div>