@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="PortfolioAccounts">
    <h4 id="PortfolioName"></h4>
    <a id="AddAccount invisible" class="btn btn-default">Add Account</a>
</div>




<p>Watchlist</p>
<ul>
    <li>Some stock</li>
    <li>stock</li>
    <li>bitcoin</li>
</ul>


<p>Current Asset</p>
<ul>
    <li>pingan</li>
    <li>haitong</li>
    <li>yongjinbao</li>
    <li>蛋卷</li>
    <li>robinhood</li>
    <li>现金宝</li>
    <li>现金宝</li>
    <li>us bank account</li>
    <li>us bank account2</li>
    <li>Bitcoin wallet</li>
    <li>ETH wallet</li>
</ul>


<p>Investment Strategy</p>
<ul>
    <li>joinquant</li>
    <li>wencai</li>
    <li>guoren</li>
</ul>


<p>Info source</p>
<ul>
    <li>热搜排行</li>
    <li>雪球关注数增长率</li>
</ul>

<p>Apply indicator on  watchlist</p>


@section Scripts{
<script>
    $(document).ready(function () {

        $.ajax('@Url.Action("GetPortfolio", "Dashboard")', {
            type: 'get',
            //data: { subject_id: subject_id },
            dataType: 'json',
            success: function (data) {
                // Insert the html into the page here using ".html(html)"
                // or a similar method.
                $("#PortfolioName").text(data['Name']); 

                if (data['Accounts'] == null) {
                    console.log('No account found');
                }
                console.log(data);
            },
            error: function () {
                alert("Error");
            }
        });
    })

</script>
}